appdirs==1.4.4
appnope==0.1.0
aspy.refactor-imports==2.1.1
attrs==19.3.0
backcall==0.1.0
black==19.10b0
cached-property==1.5.1
click==7.1.2
decorator==4.4.2
Flask==1.1.2
ipython==7.15.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
MarkupSafe==1.1.1
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pydantic==1.5.1
Pygments==2.7.4
regex==2020.5.14
reorder-python-imports==2.3.1
six==1.15.0
toml==0.10.1
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.2.2
Werkzeug==1.0.1
